<template>
  <!-- eslint-disable vue/no-v-html -->
  <main class="page--checklist">
    <section class="section pt-0">
      <h2 class="h2" v-text="title" />
      <div class="content" v-html="$data.$_content" />
    </section>
  </main>
</template>

<script>
/* DRAFT */

export default {
  name: 'Checklist',
  async asyncData({ route }) {
    const { title, $_content } = await import(
      `~/assets/content/checklists/${route.params.slug}.md`
    )
    return { title, $_content }
  },
  data() {
    return {
      title: '',
      $_content: '',
    }
  },
  head: {
    bodyAttrs: {
      class: 'dorime',
    },
  },
}
</script>
