<template>
  <section class="section py-0">
    <p class="max-w-lg">
      Para marcar una tarea como completada abre el archivo markdown
      correspondiente en
      <em>`assets/data/checklists`</em> y reemplaza <code>[ ]</code> por
      <code>[x]</code>
    </p>
    <div
      class="text-center bg-orange-300 border-orange-600 border-l h6 px-2 py-4 my-4 max-w-lg mx-auto"
    >
      Debes revisar todos los checklists y marcar todos los checkbox antes de
      que puedas decir "Terminé"
    </div>
  </section>
</template>

<script>
/* DRAFT */
export default {
  name: 'PageChecklist',
}
</script>
