<!DOCTYPE html>

<html {{ HTML_ATTRS }} lang="es">
  <head {{ HEAD_ATTRS }}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge" >
    <meta name="google-site-verification" content="Jed-HEqd5HFV8vCgFCZOGSav13zUvsG73r4am7daIHM" >
    <meta property="fb:app_id" content="2004847559786991">
    <meta property="fb:pages" content="187029654704725">
    <meta name="keywords" hid="keywords" content="HTML,CSS,XML,JavaScript,Diseño Web, Diseño Industrial,Diseño Gráfico,Diseño, Diseño de aplicaciones,Diseño de Apps, Desarrllo web, Desarrollo de apps, redes sociales,marketing">
    <link rel="author" href="/humans.txt">
    {{ HEAD }}
    <link rel="preload" as="script" href="/outdated-browser/outdatedbrowser.min.js">
    <link rel="preload" as="style" href="/outdated-browser/outdatedbrowser.min.css">
    <link rel="stylesheet" href="/outdated-browser/outdatedbrowser.min.css">
  </head>

  <body {{ BODY_ATTRS }}>
    <noscript>
      <div
        role="alert"
        class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-2 text-center"
      >
        Para tener una experiencia óptima, habilita JavaScript en tu navegador.
      </div>
    </noscript>
    <div id="outdated"></div>
    {{ APP }}
    <script src="/outdated-browser/outdatedbrowser.min.js"></script>
    <script>
      //plugin function, place inside DOM ready function
      outdatedBrowser({
          bgColor: '#f25648',
          color: '#ffffff',
          lowerThan: 'Edge',
      })
    </script>
  </body>
</html>
