<template>
  <section class="section">
    <div class="container content grid grid-cols-2 gap-2 grid-flow-row-dense">
      <h2 class="h2 font-title col-span-2">Botones</h2>
      <div class="border shadow p-2">
        <h3 class="h3">Solid Treatment, All Sizes</h3>

        <h4 class="h4">Small</h4>

        <button class="btn btn--primary btn--small btn--solid">
          Save
        </button>

        <button class="btn btn--secondary btn--small btn--solid">
          Save
        </button>

        <h4 class="h4">Medium</h4>

        <button class="btn btn--primary btn--medium btn--solid">
          Save
        </button>

        <button class="btn btn--secondary btn--medium btn--solid">
          Save
        </button>

        <h4 class="h4">Large</h4>

        <button class="btn btn--primary btn--large btn--solid">
          Save
        </button>

        <button class="btn btn--secondary btn--large btn--solid">
          Save
        </button>
      </div>
      <div class="border shadow p-2">
        <h3 class="h3">Hollow Treatment, All Sizes</h3>

        <h4 class="h4">Small</h4>

        <p>
          <button class="btn btn--primary btn--small btn--hollow">
            Save
          </button>

          <button class="btn btn--secondary btn--small btn--hollow">
            Save
          </button>
        </p>
        <h4 class="h4">Medium</h4>

        <p>
          <button class="btn btn--primary btn--medium btn--hollow">
            Save
          </button>

          <button class="btn btn--secondary btn--medium btn--hollow">
            Save
          </button>
        </p>

        <h4 class="h4">Large</h4>

        <p>
          <button class="btn btn--primary btn--large btn--hollow">
            Save
          </button>

          <button class="btn btn--secondary btn--large btn--hollow">
            Save
          </button>
        </p>
      </div>
      <div class="border shadow p-2">
        <h3 class="h3">Icon Treatment, All Sizes and Fills</h3>

        <h4 class="h4">Small, Solid</h4>
        <p>
          <fa-icon icon="download" symbol="icon-download" />
          <button class="btn btn--primary btn--small btn--solid btn--icon">
            <svg aria-hidden="true" class="svg-icon">
              <use xlink:href="#icon-download" />
            </svg>
            <span>Download</span>
          </button>

          <button class="btn btn--secondary btn--small btn--solid btn--icon">
            <svg aria-hidden="true" class="svg-icon">
              <use xlink:href="#icon-download" />
            </svg>
            <span>Download</span>
          </button>
        </p>

        <h4 class="h4">Medium, Solid</h4>

        <p>
          <button class="btn btn--primary btn--medium btn--solid btn--icon">
            <svg aria-hidden="true" class="svg-icon">
              <use xlink:href="#icon-download" />
            </svg>
            <span>Download</span>
          </button>

          <button class="btn btn--secondary btn--medium btn--solid btn--icon">
            <svg aria-hidden="true" class="svg-icon">
              <use xlink:href="#icon-download" />
            </svg>
            <span>Download</span>
          </button>
        </p>

        <h4 class="h4">Large, Solid</h4>
        <p>
          <button class="btn btn--primary btn--large btn--solid btn--icon">
            <svg aria-hidden="true" class="svg-icon">
              <use xlink:href="#icon-download" />
            </svg>
            <span>Download</span>
          </button>

          <button class="btn btn--secondary btn--large btn--solid btn--icon">
            <svg aria-hidden="true" class="svg-icon">
              <use xlink:href="#icon-download" />
            </svg>
            <span>Download</span>
          </button>
        </p>

        <h4 class="h4">Small, Hollow</h4>
        <p>
          <button class="btn btn--primary btn--small btn--hollow btn--icon">
            <svg aria-hidden="true" class="svg-icon">
              <use xlink:href="#icon-download" />
            </svg>
            <span>Download</span>
          </button>

          <button class="btn btn--secondary btn--small btn--hollow btn--icon">
            <svg aria-hidden="true" class="svg-icon">
              <use xlink:href="#icon-download" />
            </svg>
            <span>Download</span>
          </button>
        </p>
        <h4 class="h4">Medium, Hollow</h4>
        <p>
          <button class="btn btn--primary btn--medium btn--hollow btn--icon">
            <svg aria-hidden="true" class="svg-icon">
              <use xlink:href="#icon-download" />
            </svg>
            <span>Download</span>
          </button>

          <button class="btn btn--secondary btn--medium btn--hollow btn--icon">
            <svg aria-hidden="true" class="svg-icon">
              <use xlink:href="#icon-download" />
            </svg>
            <span>Download</span>
          </button>
        </p>

        <h4 class="h4">Large, Hollow</h4>
        <p>
          <button class="btn btn--primary btn--large btn--hollow btn--icon">
            <svg aria-hidden="true" class="svg-icon">
              <use xlink:href="#icon-download" />
            </svg>
            <span>Download</span>
          </button>

          <button class="btn btn--secondary btn--large btn--hollow btn--icon">
            <svg aria-hidden="true" class="svg-icon">
              <use xlink:href="#icon-download" />
            </svg>
            <span>Download</span>
          </button>
        </p>
      </div>
      <div class="border shadow p-2 col-span-2">
        <h3 class="h3">Disabled Treatment, All Fills</h3>

        <h4 class="h4">Solid</h4>
        <p>
          <button disabled class="btn btn--primary btn--medium btn--solid">
            Disabled
          </button>

          <button
            disabled
            class="btn btn--secondary btn--medium btn--solid btn--icon"
          >
            <svg aria-hidden="true" class="svg-icon">
              <use xlink:href="#icon-download" />
            </svg>
            <span>Download</span>
          </button>
        </p>

        <h4>Hollow</h4>

        <p>
          <button
            disabled
            class="btn btn--primary btn--medium btn--hollow btn--icon"
          >
            <svg aria-hidden="true" class="svg-icon">
              <use xlink:href="#icon-download" />
            </svg>
            <span>Download</span>
          </button>
          <button
            disabled
            class="btn btn--secondary btn--medium btn--hollow btn--icon"
          >
            <svg aria-hidden="true" class="svg-icon">
              <use xlink:href="#icon-download" />
            </svg>
            <span>Download</span>
          </button>
        </p>
      </div>
      <div class="shadow border p-2">
        <h2>Busy Treatment</h2>

        <h4>Solid</h4>
        <p>
          <button
            aria-busy="true"
            class="btn btn--primary btn--medium btn--solid"
          >
            Busy
          </button>

          <button
            aria-busy="true"
            class="btn btn--secondary btn--medium btn--solid"
          >
            Busy
          </button>

          <button
            aria-busy="true"
            class="btn btn--primary btn--medium btn--solid btn--icon"
          >
            <svg aria-hidden="true" class="svg-icon">
              <use xlink:href="#icon-download" />
            </svg>
            <span>Busy</span>
          </button>

          <button
            aria-busy="true"
            class="btn btn--secondary btn--medium btn--solid btn--icon"
          >
            <svg aria-hidden="true" class="svg-icon">
              <use xlink:href="#icon-download" />
            </svg>
            <span>Busy</span>
          </button>
        </p>

        <h4>Hollow</h4>
        <p>
          <button
            aria-busy="true"
            class="btn btn--primary btn--medium btn--hollow"
          >
            Busy
          </button>

          <button
            aria-busy="true"
            class="btn btn--secondary btn--medium btn--hollow"
          >
            Busy
          </button>

          <button
            aria-busy="true"
            class="btn btn--primary btn--medium btn--hollow btn--icon"
          >
            <svg aria-hidden="true" class="svg-icon">
              <use xlink:href="#icon-download" />
            </svg>
            <span>Busy</span>
          </button>

          <button
            aria-busy="true"
            class="btn btn--secondary btn--medium btn--hollow btn--icon"
          >
            <svg aria-hidden="true" class="svg-icon">
              <use xlink:href="#icon-download" />
            </svg>
            <span>Busy</span>
          </button>
        </p>
      </div>
      <div class="border shadow p-2 relative col-span-2">
        <h3 class="h3">Malformed btns</h3>

        <h4 class="h4">btn as link</h4>

        <button
          href="https://cantina.co/"
          class="btn btn--secondary btn--medium btn--hollow"
        >
          Save
        </button>

        <pre class="code-example code-example--invalid">
<code>&lt;btn
  <span class="code-example__markup-error">href="https://cantina.co/"</span>
  class="btn
         btn--secondary
         btn--medium
         btn--hollow"&gt;
  Save
&lt;/button&gt;</code>
</pre>
      </div>
    </div>
  </section>
</template>

<script>
export default {}
</script>
