<template>
  <section class="section">
    <div class="container">
      <h1 class="h2">Tarjetas</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <base-card class="md:col-span-2">
          <template #image>
            <image-responsive
              sizes="(min-width: 36em) 33.3vw, 100vw"
              src="/images/placeholder/example.jpg"
              alt="Imagen de desmostración"
              class="base-card__img"
            />
          </template>
          <p class="h3 font-bold">Imagenes responsivas locales</p>
        </base-card>
        <base-card
          image="https://picsum.photos/200/300.jpg"
          image-class="h-48"
          image-width="200"
          image-height="300"
          :responsive="false"
        >
          <p class="h3 font-bold">Imagenes random de 200x300</p>
        </base-card>
        <base-card
          image="https://picsum.photos/450/320.jpg"
          :responsive="false"
          image-width="450"
          image-height="320"
        >
          <p class="h3 font-bold">Imagenes random de 450x320</p>
        </base-card>
        <base-card class="md:col-span-2">
          <template #image>
            <image-responsive
              sizes="(min-width: 36em) 33.3vw, 100vw"
              src="/images/placeholder/example.jpg"
              class="base-card__img h-48"
              image-classes="h-48"
              alt="Imagen de desmostración"
            />
          </template>
          <p class="h4 font-bold">Imagenes responsivas locales</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
            aspernatur, expedita non officiis nulla deserunt perspiciatis quam
            itaque reiciendis vel aliquid odit et delectus, mollitia atque magni
            quasi iure ipsa.
          </p>
        </base-card>
      </div>
    </div>
  </section>
</template>

<script>
import BaseCard from '~/components/BaseCard.vue'

export default {
  components: {
    BaseCard,
  },
}
</script>
