<template>
  <section class="section">
    <div class="container">
      <div class="shadow p-2 border">
        <h2 class="h2">Formulario de demostración</h2>
        <form-generic />
      </div>
    </div>
  </section>
</template>

<script>
import FormGeneric from '~/components/FormGeneric.vue'

export default {
  components: {
    FormGeneric,
  },
}
</script>
