<template>
  <transition name="fade">
    <article
      v-if="showComponent"
      class="alert-cookie bg-gray-800 shadow max-w-xs text-white p-3 rounded"
      role="alert"
    >
      <h1 class="h6">
        Uso de cookies
      </h1>
      <p class="mb-2 text-small leading-point">
        Este sitio web utiliza cookies para que tengas la mejor experiencia de
        usuario. Si continúas navegando nos das tu consentimiento y aceptas
        nuestra
        <n-link class="underline text-blue-200" no-prefetch to="/cookies">
          Política de cookies
        </n-link>
      </p>
      <p>
        <button class="btn" @click="explicitAccept">
          Ok gracias
        </button>
      </p>
    </article>
  </transition>
</template>

<script>
import { INITIAL_VISIT } from '~/plugins/tracking.client'

export default {
  name: 'AlertCookie',
  data: () => ({
    showComponent: false,
  }),
  computed: {
    trackingState() {
      return this.$tracking.status
    },
  },
  watch: {
    trackingState: 'checkState',
  },
  mounted() {
    this.checkState()
  },
  methods: {
    checkState() {
      this.showComponent = this.trackingState === INITIAL_VISIT
    },
    explicitAccept() {
      this.$tracking.explicitEnable()
    },
  },
}
</script>
