<template>
  <div
    v-if="!isProductionSite"
    aria-label="alert"
    class="alert-dev block bg-yellow-300 text-black p-1 text-small"
    :data-reason="reason"
    :data-host="currentHost"
    v-text="message"
  ></div>
</template>

<script>
/**
 * Mostrar un mensaje informativo de que el sitio que se está visitando
 * no es el sitio final de producción
 */
export default {
  name: 'AlertDevelopment',
  props: {
    productionHost: {
      type: String,
      default: process.env.PRODUCTION_HOST,
    },
    message: {
      type: String,
      default: 'Sitio en desarrollo',
    },
  },
  data() {
    return {
      reason: 'none',
      currentHost: 'none',
    }
  },
  computed: {
    /** @returns {boolean} */
    isProductionSite() {
      return this.currentHost === this.productionHost
    },
  },
  created() {
    /**
     * Cuando generamos el sitio con `nuxt generate`
     */
    if (process.static) {
      return
    }
    if (this.$nuxt?.context.req) {
      this.reason = 'created.server'
      this.currentHost = this.$nuxt.context.req.headers.host
    } else if (typeof window !== 'undefined') {
      this.checkcLient('created.client')
    } else {
      this.reason = 'unknown'
    }
  },
  mounted() {
    /**
     * Cuando es sitio generado, me espero hasta que se monte
     */
    if (process.static) {
      this.checkcLient()
    }
  },
  methods: {
    checkcLient(reason = 'mounted.client') {
      if (this.reason === 'none') {
        this.reason = reason
        this.currentHost = window.location.host
      }
    },
  },
}
</script>

<style scoped>
.alert-dev {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 999;
}
</style>
