<template>
  <transition name="b-modal">
    <div v-if="show" class="b-modal__mask" role="dialog" @click="close">
      <div class="b-modal__backdrop" />
      <div class="b-modal max-w-2xl w-full" @click.stop>
        <slot />
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'BaseModal',
  props: {
    show: {
      type: Boolean,
      default: false,
    },
  },
  mounted() {
    document.addEventListener('keydown', this.closeByKey)
  },
  beforeDestroy() {
    document.removeEventListener('keydown', this.closeByKey)
  },
  methods: {
    /** @param {KeyboardEvent} e El evento [esc] */
    closeByKey(e) {
      if (this.show && e.keyCode === 27) {
        this.close()
      }
    },
    close() {
      this.$emit('close')
      this.$emit('update:show', false)
    },
  },
}
</script>
