<docs lang="md">
  # BaseCard
  Este es un componente presentacional, osea solo sirve como una estructura base
  de estilos y html sin proveer ninguna funcionalidad

  ```jsx
  <card
    image="https://plantilla.dinamo.mx/images/placeholder/example_full.jpg"
    title="INFINITI LAB">
    <p class="subtitle">INFINITI LAB</p>
    <p>Impulsando a emprendedores para transformar sus ideas en acciones.</p>
  </card>
  ```

  Con el atributo href convierte la imagen en un enlace

  ```jsx
  <card
    image="https://plantilla.dinamo.mx/images/placeholder/example_full.jpg"
    title="INFINITI LAB"
    href="/">
    <p class="subtitle">INFINITI LAB</p>
    <p>Impulsando a emprendedores para transformar sus ideas en acciones.</p>
  </card>
  ```
</docs>

<template>
  <component :is="tag" v-bind="$attrs" class="base-card">
    <template v-if="image || !!$slots.image">
      <slot name="image">
        <!--
          @slot La imagen, en caso de querer usar un componente
          diferente
        -->
        <template v-if="href">
          <!-- Este error es un falso positivo, vetur no soporta mixins -->
          <a
            v-if="isExternalLink"
            :href="href"
            :class="imageClass"
            target="_blank"
            rel="noopener"
          >
            <image-responsive
              class="base-card__img"
              :sizes="sizes"
              :class="imageClass"
              :responsive="responsive"
              :src="image"
              :alt="title"
              :height="imageHeight"
              :width="imageWidth"
            />
          </a>
          <nuxt-link v-else :to="href" :class="imageClass">
            <image-responsive
              class="base-card__img"
              :class="imageClass"
              :sizes="sizes"
              :src="image"
              :responsive="responsive"
              :alt="title"
              :height="imageHeight"
              :width="imageWidth"
            />
          </nuxt-link>
        </template>
        <image-responsive
          v-else
          class="base-card__img"
          :sizes="sizes"
          :class="imageClass"
          :responsive="responsive"
          :src="image"
          :alt="title"
          :height="imageHeight"
          :width="imageWidth"
        />
      </slot>
    </template>
    <div :class="contentClass" class="base-card__content">
      <!-- @slot El contenido de la tarjeta -->
      <slot />
    </div>
  </component>
</template>

<script>
import { externalLinkMixin } from '~/mixins/external-link'
/**
 * Tarjeta de bulma
 *
 * @version 2.1
 * @author César Valadez | DinamoMX
 * @since 2018-08-18
 * @description Es un simple wrapper funcional para las tarjetas,
 *  no tiene estado así que el rendimiento es espectacular.
 *
 * @since 2.0 07-01-2020 Componentes funcionales se van a la chingada https://github.com/vuejs/rfcs/pull/27
 * @since 2.1 29-05-2020 Eventos ya no tienen que pasarse en especifico
 */

export default {
  name: 'Card',
  mixins: [externalLinkMixin],
  props: {
    /**
     * La etiqueta html o componente que quieras usar como raiz de la card
     */
    tag: {
      type: [String, Object],
      default: 'article',
    },
    /**
     * La imagen a usar en la tarjeta
     */
    image: {
      type: String,
      default: '',
    },
    /**
     * El título de la tarjeta, se usa como alt para la imagen
     */
    title: {
      type: String,
      default: '',
    },
    /**
     * El enlace de la tarjeta, se aplica a la imagen
     * puedes usar enlaces relativos o absolutos
     */
    href: {
      type: String,
      default: '',
    },
    /**
     * El atributo sizes para la imagen
     */
    sizes: {
      type: String,
      default: undefined,
    },
    /* Alto de la imagen */
    imageHeight: {
      type: String,
      default: undefined,
    },
    /* Ancho de la imagen */
    imageWidth: {
      type: String,
      default: undefined,
    },
    /**
     * El atributo sizes para la imagen
     */
    responsive: {
      type: Boolean,
      default: undefined,
    },
    /**
     * La clase para la imagen
     */
    imageClass: {
      type: [String, Object, Array],
      default: '',
    },
    /**
     * Las clases adicionales para card-content
     */
    contentClass: {
      type: [String, Object, Array],
      default: '',
    },
  },
}
</script>
