<docs>
  Este formulario es muy configurable y no suele ser necesario tener más de uno
  ## Examples Usando las opciones por defecto
  ```jsx
  <form-generic />
  ```
  ## Configurando la hoja de envío
  ```jsx
  <form-generic sheet-destiny="Demo de componente" />
  ```
</docs>
<template>
  <!-- Error es falso positivo por que vetur no entiende mixins -->
  <form
    class="grid grid-cols-1 md:grid-cols-2 gap-4"
    @submit.prevent="formSend"
  >
    <div>
      <label class="label" for="basic-first-name">
        Nombre
      </label>
      <input
        id="basic-first-name"
        v-model="model.Nombre"
        required
        class="form-input w-full"
        type="text"
        placeholder="Ramses Reyes"
      />
    </div>
    <div>
      <label class="label" for="basic-correo">
        Correo
      </label>
      <input
        id="basic-correo"
        v-model="model.Correo"
        class="form-input w-full"
        required
        type="email"
        placeholder="ramses@wdinamo.com"
      />
    </div>
    <div class="md:col-span-2">
      <label class="label" for="basic-tel">
        Teléfono
      </label>
      <input
        id="basic-tel"
        v-model="model.Teléfono"
        class="form-input w-full"
        type="tel"
        required
        placeholder="+525572818789"
      />
      <p class="text-gray-800 text-small leading-small -mt-1 mb-1 italic">
        Incluye el código de país
      </p>
    </div>
    <div class="md:col-span-2 md:flex justify-between items-baseline">
      <label class="block mb-4">
        <input
          v-model="model['Aviso de privacidad']"
          type="checkbox"
          required
          class="form-checkbox"
        />
        Acepto el
        <n-link class="text-blue-600 underline" to="/aviso-privacidad"
          >aviso de privacidad</n-link
        >
      </label>
      <button
        type="submit"
        class="btn btn--primary btn--solid btn--medium md:ml-auto block"
        :aria-busy="state === 'pending'"
        v-text="state === 'pending' ? 'Enviando…' : 'Enviar'"
      ></button>
    </div>
  </form>
  <!-- eslint-enable max-len -->
</template>

<script lang="ts">
import { Component, mixins } from 'nuxt-property-decorator'
import FormMixin from '~/mixins/form-mixin'

/**
 * Formulario genérico
 *
 * @version 1.7
 */
@Component({
  name: 'FormGeneric',
})
export default class FormGeneric extends mixins(FormMixin) {
  isSuccess() {
    this.$emit('success')
    // eslint-disable-next-line no-alert
    alert('Modifica esta función para rastrear analįticas')
    this.$router.push('/gracias')
  }
}
</script>

<style lang="scss" scoped>
.label {
  display: block;
  font-weight: bold;
}
</style>
