<template>
  <section :class="{ 'min-h-screen': minScreen }" class="hero-generic">
    <picture v-if="bgImage" class="hero-generic__background">
      <template v-if="srcset">
        <!-- sm -->
        <source media="(max-width: 640px)" :srcset="srcset.small" />
        <!-- lg -->
        <source media="(max-width: 1024px)" :srcset="srcset.medium" />
        <!-- lg en adelante -->
        <source media="(min-width: 1024px)" :srcset="srcset.large" />
      </template>
      <img
        :src="srcset ? srcset.medium : bgImage"
        class="object-cover w-full h-full"
        :alt="bgImageAlt"
      />
    </picture>

    <div class="hero-generic__body w-full">
      <div class="container">
        <div
          :class="['text-' + textColor, 'text-' + textAlign]"
          class="lg:w-4/5 mx-auto"
        >
          <h1
            class="font-bold h1"
            :class="[`text-${titleColor}`, 'text-' + titleAlign]"
            v-text="title"
          />
          <slot />
        </div>
      </div>
    </div>
    <div v-if="hasScrim" class="hero-generic__scrim"></div>
  </section>
</template>

<script>
export default {
  name: 'HeroGeneric',
  props: {
    /**
     * El título del hero, se usara como `<h1>{{titulo}}</h1>`
     */
    title: {
      type: String,
      default: '',
    },
    /**
     * El color de texto del título, se aplica como `.text-<titleColor>`
     */
    titleColor: {
      type: String,
      default: '',
    },
    /**
     * La alineación del título, se aplica como `.text-<titleAlign>`
     */
    titleAlign: {
      type: String,
      default: 'center',
    },
    /**
     * El color del texto al cuerpo del contenido, se aplica como:
     * `.text-<textColor>`
     */
    textColor: {
      type: String,
      default: '',
    },
    /**
     * La alineación del texto al cuerpo del contenido, se aplica como:
     * `.text-<textAlign>`
     */
    textAlign: {
      type: String,
      default: 'center',
    },
    /**
     * Usar un color de fondo, se aplica como `.bg-<bgColor>`
     */
    bgColor: {
      type: String,
      default: '',
    },
    /**
     * Añade una imagen de fondo, formato requerido es:
     * `/ruta/completa/nombredelarchivo_%size%.jpg`
     */
    bgImage: {
      type: String,
      default: '',
    },
    /**
     * El texto alt de la imagen de fondo *no lo ignores*
     */
    bgImageAlt: {
      type: String,
      default: '',
    },
    /**
     * Usar el alto de la pantalla como tamaño mínimo
     */
    minScreen: {
      type: Boolean,
      default: false,
    },
    /**
     * Mostrar un fondo para aumentar el contraste del texto (scrim)
     */
    hasScrim: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    /** @returns {{small: string, medium: string, large: string} | null} */
    srcset() {
      if (!this.bgImage) {
        return null
      }
      const reg = /(.*)%(.*)%(\.[a-z]+$)/gi
      const parts = this.bgImage.match(reg)
      if (!parts) {
        return null
      }
      const small = this.bgImage.replace(reg, '$1small$3')
      const medium = this.bgImage.replace(reg, '$1medium$3')
      const large = this.bgImage.replace(reg, '$1large$3')
      return {
        small: `${small} 1x, ${small} 2x`,
        medium: `${medium} 1x, ${medium} 2x`,
        large: `${large} 1x, ${large} 2x`,
      }
    },
  },
}
</script>
