<template>
  <intersect-observer @enter.once="getResponsiveSource">
    <picture
      v-bind="$attrs"
      :class="[
        'image-cloud',
        { 'image-cloud--failed': failed },
        { 'image-cloud--loaded': loaded },
      ]"
      :style="[imageGradient]">
      <img
        v-show="!loaded"
        ref="thumbnail"
        :src="thumbnailSource"
        :alt="alt"
        :data-src="fullSource"
        class="image-cloud__img image-cloud__img--thumb" />
      <img
        v-if="isVisible"
        v-show="loaded"
        ref="image"
        src=""
        :alt="alt"
        :data-src="fullSource"
        class="image-cloud__img"
        @load="imageLoaded"
        @error="imageLoaded" />
    </picture>
  </intersect-observer>
</template>

<script>
import cloudinaryInstance from '../utils/cloudinary'
import IntersectObserver from './intersect-observer'

export default {
  name: 'ImageCloud',
  components: { IntersectObserver },
  inheritAttrs: false,
  props: {
    /**
     * La url o path de la imagen
     *
     * @example '/placeholder/demo.jpg'
     */
    src: {
      type: String,
      required: true,
    },
    /**
     * El texto alternativo de la imagen
     * @example 'La cara de una niña'
     */
    alt: {
      type: String,
      default: 'Placeholder, please fill me',
    },
    /**
     * Los colores del gradiente mientras carga la imagen
     */
    colors: {
      type: Array,
      default: () => ['#F83F28', '#472533', '#211F35'],
    },
    // Empiezan las props de cloudinary
    width: {
      type: String,
      default: 'auto',
    },
    /**
     * Si se cortará la imagen, escoge como se centrara la imagen
     *
     * @example 'faces'
     */
    gravity: {
      type: String,
      default: 'center',
    },
    /**
     * Selecciona automáticamente la mejor imagen posible para el navegador
     * que la solicitó.
     *
     * @example 'auto'
     */
    fetchFormat: {
      type: String,
      default: 'auto',
    },
    /**
     * Como se cortará la imagen
     *
     * @example 'scale'
     */
    crop: {
      type: String,
      default: 'scale',
    },
    /**
     * La calidad de la imagen respecto a la compresión
     *
     * @example 'auto' | '70'
     */
    quality: {
      type: [String, Number],
      default: 'auto',
    },
    /**
     * Si dejar o no la chamba dura a cloudinary para detectar la mejor imagen.
     */
    responsive: {
      type: Boolean,
      default: true,
    },
    /**
     * Mantener o no el alto del elemento cuando se usan imagenes responsivas
     */
    responsivePreserveHeight: {
      type: Boolean,
      default: false,
    },
    /**
     * Un array de transformaciones, referirse a cloudinary para más detalles
     * @example - // a image like a diploma
     * [
     *   { effect: "cartoonify" },
     *   { radius: "max" },
     *   { effect: "outline:100", color: "lightblue" },
     *   { background: "lightblue" },
     *   { height: 300, crop: "scale" },
     * ]
     * @example - // Una transformación muy compleja
     * [
     *   { width: 400, height: 250, gravity: 'south', crop: 'fill' },
     *   {
     *     overlay: new cloudinary.Layer().publicId('nice_couple'),
     *     width: '1.3',
     *     height: '1.3',
     *     gravity: 'faces',
     *     flags: 'region_relative',
     *     crop: 'crop',
     *   },
     *   { effect: 'saturation:50' },
     *   { effect: 'vignette' },
     *   {
     *     flags: 'layer_apply',
     *     width: 100,
     *     radius: 'max',
     *     gravity: 'center',
     *     y: 20,
     *     x: -20,
     *     crop: 'scale',
     *   },
     *   { overlay: new cloudinary.Layer().publicId('balloon'), height: 55 },
     *   { effect: 'hue:-20', angle: 5 },
     *   { flags: 'layer_apply', x: 30, y: 5 },
     *   {
     *     overlay: new cloudinary.TextLayer()
     *       .fontFamily('Cookie')
     *       .fontSize(40)
     *       .fontWeight('bold')
     *       .text('Love'),
     *     effect: 'colorize',
     *     color: '#f08',
     *   },
     *   { angle: 20, flags: 'layer_apply', x: -45, y: 44 },
     *   { width: 300, height: 250, x: 30, crop: 'crop' },
     *   { radius: 60 },
     * ]
     */
    transformation: {
      type: Array,
      default: () => [],
    },
    thumbnailTransformation: {
      type: Array,
      default: () => ['thumb_blurred'],
    },
  },
  data() {
    return {
      fullSource: '',
      responsiveSource: '',
      thumbnailSource: '',
      isVisible: false,
      failed: false,
      loaded: false,
      imageTag: '',
      isThumbnail: true,
    }
  },
  computed: {
    /**
     * Convierte el array de colores a una string css.
     *
     * @returns {Object} Style.
     * @returns {Object} Style.background-image CSS linear-gradient.
     */
    imageGradient() {
      if (this.failed) return {}
      const colors = this.colors.join(', ')

      return {
        'background-image': `linear-gradient(35deg, ${colors})`,
      }
    },
    cloudinaryOptions() {
      return {
        width: this.width,
        gravity: this.gravity,
        fetchFormat: this.fetchFormat,
        crop: this.crop,
        quality: this.quality,
        responsive: this.responsive,
        transformation: this.transformation,
      }
    },
  },
  watch: {
    src() {
      this.getFullSource()
      if (this.isVisible) {
        this.getResponsiveSource()
      } else {
        this.getThumbnail()
      }
    },
  },
  created() {
    this.getThumbnailSource()
    this.getFullSource()
  },
  methods: {
    getFullSource() {
      this.fullSource = cloudinaryInstance.url(this.src, this.cloudinaryOptions)
    },
    getThumbnailSource() {
      const options = {
        transformation: this.thumbnailTransformation,
      }
      this.thumbnailSource = cloudinaryInstance.url(this.src, options)
    },
    getResponsiveSource() {
      this.getFullSource()
      this.isVisible = true
      this.isThumbnail = false
      this.$nextTick(() => {
        const el = this.$refs.image
        // cloudinaryInstance.Util.setData(el, 'src', this.fullSource)
        this.responsiveSource = cloudinaryInstance
          .cloudinary_update(el, this.cloudinaryOptions)
          .url(this.src, this.cloudinaryOptions)
        cloudinaryInstance.responsive(this.cloudinaryOptions, false)
      })
    },
    imageLoaded(event) {
      if (event.type === 'error') {
        this.failed = true
      } else {
        this.loaded = true
      }
    },
  },
}
</script>

<style lang="scss">
/* @define image-cloud */

.image-cloud {
  display: block;

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fade-in 300ms linear forwards;
  }

  &--failed {
    min-width: 200px;
    min-height: 200px;
    background-color: #be3730;
    background-image: url('~assets/broken.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  &--loaded {
    background: none;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
</style>
