<template>
  <footer class="w-full text-center border-t border-grey p-4 pin-b the-footer">
    <div class="container">
      Dinamo ©2018 todos los derechos reservados
    </div>
  </footer>
</template>

<script>
export default {
  name: 'TheFooter',
}
</script>
