<docs>
  Un menú básico que puede funcionar sin js gracias a la interacción entre
  un `input[type="checkbox"]` y un `label` usando el selector `~`

  ```jsx
  <the-header></the-header>
  ```
</docs>

<template>
  <header class="the-header h-8 bg-brand-azul w-full px-2">
    <div class="container flex items-center h-full">
      <n-link to="/" title="Plantilla" class="relative block mr-auto z-10">
        <img src="~assets/logotipo.svg" class="h-4" />
      </n-link>
      <the-header-burger v-model="isMenuOpen" />
      <nav>
        <ul class="the-header__menu" :class="{ 'is-active': isMenuOpen }">
          <li>
            <n-link class="the-header__item" to="/">
              Home
            </n-link>
          </li>
          <li>
            <n-link class="the-header__item" to="/blog">
              Blog
            </n-link>
          </li>
          <li>
            <n-link class="the-header__item" to="/gracias">
              Gracias
            </n-link>
          </li>
          <li>
            <n-link class="the-header__item" to="/404">
              404
            </n-link>
          </li>
          <li>
            <n-link class="the-header__item" to="/checklists">
              Checklist
            </n-link>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</template>

<script>
import TheHeaderBurger from './TheHeaderBurger.vue'
/**
 * Header de bulma
 *
 * @version 1.0
 */
export default {
  name: 'TheHeader',
  components: {
    TheHeaderBurger,
  },
  data: () => ({
    /**
     * Abrir o cerrar el menu mobil
     */
    isMenuOpen: false,
  }),
  watch: {
    $route() {
      this.isMenuOpen = false
    },
  },
}
</script>

<style lang="scss">
.the-header {
  color: $white;

  &__menu {
    position: absolute;
    top: theme('spacings.8');
    right: 0;
    left: 0;
    z-index: 9;
    display: flex;
    height: auto;
    max-height: theme('spacings.64');
    overflow-y: auto;
    overscroll-behavior-y: contain;
    align-items: stretch;
    font-size: theme('fontSize.h6');
    text-align: center;
    visibility: hidden;
    flex-direction: column;
    background: theme('colors.brand.azul');
    transition: visibility 300ms linear 0ms, transform 300ms ease-out 0s;
    transform: scaleY(0);
    transform-origin: top right;

    /* stylelint-disable selector-class-pattern */
    &.is-active,
    .btn-burger__input:checked ~ nav & {
      visibility: visible;
      transition: visibility 300ms 0ms, transform 300ms 300ms ease-out;
      transform: scaleY(1);
    }
    /* stylelint-enable selector-class-pattern */

    @media #{$mq-lg} {
      position: static;
      height: auto;
      justify-items: stretch;
      overflow-y: visible;
      font-size: theme('fontSize.base');
      visibility: visible;
      flex-direction: row;
      background: transparent;
      transform: scale(1);
    }
  }

  &__item {
    position: relative;
    display: block;
    padding: theme('padding.2');
    color: $white;

    &.is-active {
      text-decoration: underline;
    }
  }
}
</style>
