/* ---
title:   Buttons
section: Base CSS
---
Hacer botones es un calvario, así que decidi tomar prestado el código de alguien
más inteligente y adaptarlo a nuestro uso de trabajo.
Ese alguien es Eric Bailey
Muchas gracias Eric

https://cantina.co/building-a-better-button-in-css/

```example:html
<button class="btn">Click</button>
<a class="btn" href="/some-page">Some Page</a>
```
*/

// Color variables

$color-map: (
  "primary": (
    "background": $brand-naranja,
    "front": $clear,
  ),
  "secondary": (
    "background": $teal-600,
    "front": $clear,
  ),
  "tertiary": (
    "background": $purple-700,
    "front": $text,
  ),
);
// Transform variables
$button-bounce: scale(0.98);

// Transition variables
$button-transition-duration: 300ms;
$button-cycle-busy: 2s ease-in-out infinite;

// Border variables
$button-border-width-thin: 2px;
$button-border-width-thick: 3px;

// Animation
@keyframes button-busy {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 0.2;
  }
}

/////////////////////
// ELEMENT STYLING //
/////////////////////

// Declared as a class so we can easily apply it to both `<button>` and `<input type="button">`
.btn {
  display: inline-flex;
  width: 100%; // Large, mobile-friendly touch target
  min-height: theme("height.4");
  margin-bottom: theme("spacings.2");
  font-weight: 600;
  line-height: 1;
  /////////////////////
  // CORE FORMATTING //
  /////////////////////
  background-color: transparent;
  border: 0;
  border-radius: theme("borderRadius.default");
  box-shadow: theme("boxShadow.default");
  transition: background-color $button-transition-duration,
    border-color $button-transition-duration,
    box-shadow ($button-transition-duration / 2); // Focused buttons
  justify-content: center;
  align-items: center;

  // States
  // All states share these core properties
  &:focus {
    outline: none; // Make sure every priority has a visually distinct focus style!
  }

  &--active {
    background-color: lighten($text, 70%);
    box-shadow: theme("boxShadow.md");
  }

  &--icon {
    /* stylelint-disable selector-no-qualifying-type */
    .svg-icon,
    svg[class*="fa-"] {
      width: 0.8rem;
      height: 0.8rem;
      margin-right: 0.2rem;
    }
    /* stylelint-enable selector-no-qualifying-type */
  }

  // Make buttons feel "tappy"
  &:active {
    box-shadow: theme("boxShadow.inner");
    transform: $button-bounce;
  }

  // Disabled styles use the`!important` qualifier because they are a "fixed" trump state that should not be manipulated until the reason for disabling the element has been satisfied: https://csswizardry.com/2016/05/the-importance-of-important/
  &[aria-busy="true"] {
    pointer-events: none !important;
    cursor: not-allowed !important;
    animation: button-busy $button-cycle-busy !important;

    &:focus {
      box-shadow: none !important;
    }

    &:active,
    &--active {
      transform: none !important;
    }
  }

  &[disabled] {
    pointer-events: none !important;
    cursor: not-allowed !important;
    opacity: 0.3 !important;
  }

  // Media Queries
  @media (min-width: $sm) {
    width: auto; // Smaller buttons on larger screens
    padding-right: theme("spacings.2");
    padding-left: theme("spacings.2");
    margin-right: theme("spacings.1");
    margin-left: theme("spacings.1");
  }

  ////////////////
  // PRIORITIES //
  ////////////////
  // `#{&}` interpolates the ampersand selector, letting you target multiple classes on the same element: https://webdesign.tutsplus.com/tutorials/all-you-ever-need-to-know-about-sass-interpolation--cms-21375
  @each $theme, $colors in $color-map {
    $background: map-get(
      $map: $colors,
      $key: "background",
    );
    $front: map-get(
      $map: $colors,
      $key: "front",
    );

    &--#{$theme} {
      color: $background;

      &.btn--active {
        background-color: lighten($background, 30%);
      }
    }

    &--#{$theme}#{&}--solid {
      color: $front;
      background-color: $background;

      // States
      &:hover {
        background-color: lighten($background, 7%);
      }

      &:active,
      &.btn--active {
        background-color: darken($background, 7%);
      }

      &[disabled]:hover {
        background-color: $background !important;
      }
    }

    &--#{$theme}#{&}--hollow {
      color: $background;
      border: $button-border-width-thick solid $background;

      // States
      &:hover {
        color: lighten($background, 7%);
        border-color: lighten($background, 7%);
      }

      &:active,
      &.btn--active {
        color: darken($background, 7%);
        border-color: darken($background, 7%);
      }

      &[disabled]:hover {
        color: $background;
        border: $button-border-width-thick solid $background;
      }
    }
  }

  ///////////
  // SIZES //
  ///////////
  &--small {
    min-width: 6rem;
    min-height: theme("height.3");
    font-size: theme("fontSize.small");
  }

  &--small#{&}--hollow {
    // Compensamos con margen inferior el
    margin-top: $button-border-width-thin * -2;
    border-width: $button-border-width-thin;
  }

  &--small#{&}--icon {
    .svg-icon,
    svg[class*="fa-"] {
      width: 0.8rem;
      height: 0.8rem;
      margin-right: 0.2rem;
    }
  }

  &--medium {
    min-width: 8rem;
    min-height: theme("height.6");
  }

  &--medium#{&}--hollow {
    min-height: theme("height.6");
    margin-top: $button-border-width-thick * -2;
  }

  &--medium#{&}--icon {
    .svg-icon,
    svg[class*="fa-"] {
      width: 1rem;
      height: 1rem;
      margin-right: 0.3rem;
    }
  }

  &--large {
    min-width: 10rem;
    min-height: theme("height.8");
    font-size: theme("fontSize.h6");
    letter-spacing: 1px;
  }

  &--large#{&}--hollow {
    min-height: theme("height.8");
    margin-top: $button-border-width-thick * -2;
  }

  &--large#{&}--icon {
    .svg-icon,
    svg[class*="fa-"] {
      width: 1.1rem;
      height: 1.1rem;
      margin-right: 0.35rem;
    }
  }

  ///////////
  // FILLS //
  ///////////
  &--solid,
  &--hollow {
    // States
    &[disabled] {
      &:active {
        transform: none !important;
      }
    }
  }
}

// SVG Icons
// This controls the default behavior of how icons look when they're declared via the `<use>` tag
.svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0;
}
///////////////
// JERK MODE //
///////////////
/* stylelint-disable selector-no-qualifying-type, selector-max-type */
button a, // This one is for you Isac
div[class~="btn"],
p[class~="btn"],
span[class~="btn"],
div[class^="btn--"],
p[class^="btn--"],
span[class^="btn--"],
button[href],
input[type="button"][href] {
  &::before {
    position: absolute;
    left: 0;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    color: $white;
    content: "Please use the correct button syntax!";
    background-color: $pink-600;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.75);
    transform: rotate(-4deg);
  }
}
/* stylelint-enable selector-no-qualifying-type, selector-max-type */
