.image-responsive {
  display: block;
  min-width: 1em;
  min-height: 1em;
  background-image: var(--background);

  &__img {
    opacity: 0;
    object-fit: cover;
    animation: fade-in 300ms linear forwards;
    animation-delay: 300ms;
  }

  &.is-failed {
    min-width: 200px;
    min-height: 200px;
    background-color: #be3730;
    background-image: url("~assets/broken.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.is-loaded {
    background-image: none;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
