/**
 * Usar con tailwindcss-aspect-ratio:
 * ej: .embed-responsive.aspect-ratio-16/9
 */
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  padding-top: 56.25%;
  overflow: hidden;

  &__item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
