.table {
  @apply w-full text-left;
  border-collapse: collapse;

  tbody {
    @apply align-baseline;
  }

  tr {
    @apply border-t;
  }

  th {
    @apply font-bold;
  }

  td,
  th {
    @apply p-2;
  }
}
