%inline-blocks-paragraph {
  display: inline-block;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

hr {
  // DINAMO: Compensa el margen para mantener ritmo
  margin-bottom: calc(theme("spacings.2") - 1px);
  border-top-width: 1px;
}

img,
video {
  max-width: 100%;
  height: auto;
}

big {
  @extend %inline-blocks-paragraph;
  font-size: 1.25em;
  line-height: 0;
}
