.section {
  padding: theme("padding.8") theme("padding.2");
}

.layout {
  max-width: #{(1980 / 16)}rem;
  margin-right: auto;
  margin-left: auto;

  &--default {
    display: grid;
    grid-template-columns: minmax(100%, 100vh);
    grid-template-rows: auto minmax(100vh, 1fr) auto;

    > * {
      grid-column: 1;
    }

    .the-header {
      grid-row: 1;
    }

    .the-footer {
      grid-row: 3;
    }
  }
}

html {
  scroll-behavior: smooth;
}
