%center-inline-flex {
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

%reset-apareance {
  /* stylelint-disable property-no-vendor-prefix */
  -moz-appearance: none;
  -webkit-appearance: none;
  /* stylelint-enable property-no-vendor-prefix */
  appearance: none;
}

%title-1 {
  @apply mt-2 mb-4 text-h2 leading-h2;

  @media #{$mq-lg} {
    @apply my-4 text-h1 leading-h1;
  }
}

%title-2 {
  @apply mb-4 text-h3 leading-h3;

  @media #{$mq-lg} {
    @apply mt-2 mb-4 text-h2 leading-h2;
  }
}

%title-3 {
  @apply mb-2 text-h4 leading-h4;

  @media #{$mq-lg} {
    @apply mb-4 text-h3 leading-h3;
  }
}

%title-4 {
  @apply mb-2 text-h5 leading-h5;

  @media #{$mq-lg} {
    @apply mb-2 text-h4 leading-h4;
  }
}

%title-5 {
  @apply mb-2 text-h6 leading-h6;

  @media #{$mq-lg} {
    @apply mb-2 text-h5 leading-h5;
  }
}

%title-6 {
  @apply mb-1;

  @media #{$mq-lg} {
    @apply mb-2 text-h6 leading-h6;
  }
}
