/* stylelint-disable selector-max-type */

html {
  font-size: theme("fontSize.base");
  line-height: theme("lineHeight.base");
  color: $text;
  background-color: $clear;
}

*|*:any-link {
  // text-decoration: underline;
  text-decoration: none;
}

*|*:link {
  color: inherit;
}

hr {
  max-width: theme("maxWidth.lg");
  margin-top: calc(theme("spacings.4") - 1px);
  margin-right: auto;
  margin-bottom: calc(theme("spacings.4") - 1px);
  margin-left: auto;
  border-color: $gray-500;
  border-top-style: solid;
  border-top-width: 2px;
}

button,
input,
textarea,
select {
  @extend %center-inline-flex;
}

th,
td {
  padding: 0;
}

.h1 {
  @extend %title-1;
}

.h2 {
  @extend %title-2;
}

.h3 {
  @extend %title-3;
}

.h4 {
  @extend %title-4;
}

.h5 {
  @extend %title-5;
}

.h6 {
  @extend %title-6;
}

.content {
  h1 {
    @extend %title-1;
  }

  h2 {
    @extend %title-2;
  }

  h3 {
    @extend %title-3;
  }

  h4 {
    @extend %title-4;
  }

  h5 {
    @extend %title-5;
  }

  h6 {
    @extend %title-6;
  }

  p {
    @apply mb-2;
  }

  ul,
  ol,
  menu,
  dir {
    margin-bottom: theme("margin.2");
    margin-left: 3ch;
    list-style-position: outside;
  }

  ul,
  dir {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  menu {
    list-style: circle;
  }

  dl {
    dt {
      font-weight: bold;
    }

    dd {
      padding-left: theme("margin.2");
      margin-bottom: theme("margin.2");
    }
  }

  blockquote {
    @apply p-1 bg-gray-100 text-gray-600 border-l-4 border-gray-500 italic relative mb-2;

    > p {
      @apply mb-1;
    }

    cite {
      @apply text-small flex items-center;

      /* stylelint-disable-next-line selector-max-compound-selectors */
      > img {
        @apply mr-2 w-24 bg-gray-500 rounded-full;
      }
    }
  }

  /** do we really need other types of links? */
  a:link {
    @apply .text-blue-400;
    text-decoration: underline;

    &:visited {
      color: theme("colors.blue.800");
    }
  }
}
