@tailwind components;

/** ------------------------------------------------------------
##  CUSTOM CLASSES
--------------------------------------------------------- */
@media (max-width: theme("screens.sm")) {
  .container {
    max-width: unset;
  }
}

@import "components/buttons";
@import "components/respsonsive-embeds";
@import "components/table";
@import "components/base-card";
@import "components/image-responsive";
@import "components/hero-generic";
@import "components/alert-cookie";
@import "components/btn-burger";
