/**
* Pure CSS Responsive Grid Overlay
* README: https://github.com/larsenwork/Pure-CSS-Responsive-Grid-Overlay
*/

/* stylelint-disable plugin/no-unsupported-browser-features */

:root {
  /**
  * Grid Settings
  */

  /* General */

  /* Color (HSL) */
  --g-color: 310, 100%, 68%;
  --g-opacity-baseline: 0.1;
  --g-opacity-line: 0.2;
  --g-opacity-column: 0;
  --g-opacity-gutter: 0.02;

  /* Baseline */
  --g-baseline-height: 14px;
  --g-baseline-start: 14px;

  /* Column */
  --g-column_count: 6;
  --g-offset: 14px;
  --g-gutter: 8px;

  /* Media Query String */
  --g-media_query: 'less than 360px';

  /**
  * 'Mixins' — You probably don't need to edit anything here
  */

  /* Colors */
  --g-color-line: hsla(var(--g-color), var(--g-opacity-line));
  --g-color-column: hsla(var(--g-color), var(--g-opacity-column));
  --g-color-gutter: hsla(var(--g-color), var(--g-opacity-gutter));
  --g-color-baseline: hsla(var(--g-color), var(--g-opacity-baseline));

  /* Gradient Helpers */
  --line-thickness: 1px;
  --column-start: 0;
  --column-start-line: var(--line-thickness);
  --column-end: calc(
    (100% / var(--g-column_count)) - var(--g-gutter) - var(--line-thickness)
  );
  --column-end-line: calc((100% / var(--g-column_count)) - var(--g-gutter));
  --gutter-end: calc(100% / var(--g-column_count));

  /* Gradients */
  --g-gradient-column: repeating-linear-gradient(
    to right,
    var(--g-color-line) var(--column-start),
    var(--g-color-line) var(--column-start-line),
    var(--g-color-column) var(--column-start-line),
    var(--g-color-column) var(--column-end),
    var(--g-color-line) var(--column-end),
    var(--g-color-line) var(--column-end-line),
    var(--g-color-gutter) var(--column-end-line),
    var(--g-color-gutter) var(--gutter-end)
  );

  --g-gradient-baseline: repeating-linear-gradient(
    to bottom,
    var(--g-color-baseline),
    var(--g-color-baseline) var(--line-thickness),
    transparent var(--line-thickness),
    transparent var(--g-baseline-height)
  );
}

@screen xsm {
  :root {
    --g-color: 190, 100%, 50%;
    --g-media_query: 'xsm: 360px';
  }
}
@screen sm {
  :root {
    --g-color: 190, 100%, 50%;
    --g-media_query: 'sm: 640px';
    --g-max_width: theme('screens.sm');
  }
}

@screen md {
  :root {
    --g-color: 20, 100%, 68%;
    --g-column_count: 12;
    --g-max_width: theme('screens.md');
    --g-media_query: 'md: 768px';
  }
}

@screen lg {
  :root {
    --g-color: 50, 100%, 50%;
    --g-max_width: theme('screens.lg');
    --g-media_query: 'lg: 1024px';
  }
}
@screen xl {
  :root {
    --g-color: 130, 100%, 50%;
    --g-max_width: theme('screens.xl');
    --g-media_query: 'xl: 1280px';
  }
}
@screen xxl {
  :root {
    --g-color: 250, 100%, 50%;
    --g-max_width: theme('screens.xxl');
    --g-media_query: 'xxl: 1440px';
  }
}

/**
* Styling
*/
html {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--document-height, auto);
  justify-content: center;
}

html::before {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 999;
  padding: 1rem;
  color: hsl(var(--g-color));
  text-transform: capitalize;
  white-space: pre;
  pointer-events: none;
  content: var(--g-media_query);
  background: rgba(0, 0, 0, 0.25);
}

html::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: 999;
  display: block;
  width: 100%;
  max-width: var(--g-max_width);
  height: 100%;
  min-height: 100vh;
  pointer-events: none;
  content: '';
  background-image: var(--g-gradient-column), var(--g-gradient-baseline);
  background-position: 0 var(--g-baseline-start, 0);
  background-size: calc(100% + var(--g-gutter))
    calc(var(--g-baseline-height) * 10); /* 100% height results rendering bug in chrome */
  transform: translateX(-50%);
}
