.page-enter-active {
  transition: 0.3s ease;
  transition-property: opacity, transform;
}

.page-leave-active {
  transition: 0.4s cubic-bezier(1, 0.5, 0.8, 1);
  transition-property: opacity, transform;
}

.page-enter,
.page-leave-to {
  opacity: 0;
  transform: translateX(10px);
}

.flip-list-move {
  transition: transform 1s;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-enter,
.fade-leave-to,
.fade-leave-active {
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
  transition: 0.25s ease;
  transition-property: transform, opacity;
}

.page-enter,
.page-leave-active {
  opacity: 0;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.slide-up {
  &-enter-active {
    transition: 825ms ease;
    transition-property: transform, opacity;
  }

  &-enter {
    opacity: 0.7;
    transform: translateY(100%);
  }

  &-enter-to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-down {
  &-leave-active {
    transition: 825ms ease;
    transition-property: transform, opacity;
  }

  &-leave {
    opacity: 1;
    transform: translateY(0);
  }

  &-leave-to {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes pulsate {
  0%,
  100%,
  10% {
    transform: scale(1);
  }

  5% {
    opacity: 1;
    transform: scale(1.2);
  }
}
