<template>
  <section class="hero min-h-screen">
    <div class="hero__body">
      <div class="container">
        <div
          v-if="error.statusCode === 404"
          class="p-4 bg-yellow text-center"
          @dblclick="showDetails = !showDetails"
        >
          <h2 class="h1 font-thin text-center">
            Página no encontrada
          </h2>
          <p class="">
            <nuxt-link class="btn text-h6 h-4" to="/">
              Regresar al inicio
            </nuxt-link>
          </p>
        </div>
        <div v-else class="text-center">
          <h1 class="h1 mb-1">
            Oops!!
          </h1>
          <h2 class="h2 font-thin">
            Algo extraño sucedió, nuestros ingenieros están trabajando en
            resolver el problema
          </h2>
          <p class="">
            <a href="/" class="btn">
              Ir al inicio
            </a>
            <button
              onclick="window.location.href=window.location.href"
              class="btn"
            >
              Recargar página
            </button>
            <button class="btn" @click="showDetails = true">
              Mostrar errores
            </button>
          </p>
        </div>
        <pre v-if="showDetails">{{ error }}</pre>
      </div>
    </div>
  </section>
</template>

<script>
/** @typedef {import('@nuxt/types').NuxtError } NuxtError */

export default {
  name: 'Error',
  props: {
    error: {
      type: [Object, Error],
      required: true,
      default: () => ({
        statusCode: 404,
      }),
    },
  },

  data: () => ({
    showDetails: false,
  }),
  computed: {
    /** @returns {NuxtError} */
    parsedError() {
      if (typeof this.error === 'object') {
        return this.error
      }
      if (typeof this.error === 'string') {
        return { message: this.error, statusCode: 500 }
      }
      return { ...this.error }
    },
  },
}
</script>

<style></style>
