<template>
  <!-- eslint-disable vue/no-v-html -->
  <article v-once>
    <hero-generic
      :title="blogPost.title"
      bg-image-alt="Imagen de portada para esta entrada de blog"
      :bg-image="blogPost.image"
      has-scrim
    />
    <div class="section">
      <div class="container">
        <div class="content" v-html="blogPost.$_content"></div>
      </div>
    </div>
  </article>
</template>

<script>
import HeroGeneric from '~/components/HeroGeneric.vue'

export default {
  name: 'BlogBlogPage',
  components: {
    HeroGeneric,
  },
  async asyncData({ params, payload }) {
    if (payload) {
      return { blogPost: payload }
    }
    return {
      blogPost: await import(`~/assets/content/blog/${params.blog}.md`),
    }
  },
  data() {
    return {
      /** @type {import('types').BlogPost} */
      blogPost: {
        title: '',
        $_content: '',
        image: '',
      },
    }
  },
}
</script>
