<template>
  <div class="section">
    <ul class="container">
      <li
        v-for="blogPost in blogPosts"
        :key="blogPost.title"
        class="grid md:grid-cols-2 gap-4"
      >
        <base-card
          class="flex-col"
          :title="blogPost.title"
          :image="blogPost.image"
          :responsive="false"
          :href="`/blog/${blogPost.slug}`"
        >
          <h1 class="title h3">{{ blogPost.title }}</h1>
        </base-card>
      </li>
    </ul>
  </div>
</template>

<script>
import BaseCard from '~/components/BaseCard.vue'

export default {
  name: 'BlogIndex',
  components: {
    BaseCard,
  },
  async asyncData() {
    const files = await require.context(
      '~/assets/content/blog/',
      false,
      /\.md$/,
      'lazy'
    )
    const blogPosts = await Promise.all(
      files.keys().map(async (key) => {
        const { title, image } = await files(key)
        return {
          title,
          image,
          slug: key.slice(2, -3),
        }
      })
    )
    return { blogPosts }
  },
  data() {
    return {
      /** @type {{ title: any, image: any, slug: string}[]} */
      blogPosts: [],
    }
  },
}
</script>
