<template>
  <main class="page--checklist">
    <div class="container">
      <h1 class="h1">Checklists del desarrollo</h1>
      <ul class="flex">
        <li class="">
          <n-link
            class="btn btn--solid btn--secondary"
            exact
            active-class="btn--active"
            to="/checklists"
            >Introducción</n-link
          >
        </li>
        <li v-for="({ title }, key) in allItems" :key="key">
          <n-link
            class="btn btn--hollow btn--secondary"
            :to="`/checklists/${key}`"
            active-class="btn--active"
            >{{ title }}</n-link
          >
        </li>
      </ul>
      <n-child :key="$route.path" />
    </div>
  </main>
</template>

<script>
/* DRAFT */
export default {
  name: 'PageChecklistIndex',
  async asyncData() {
    /** @type {{[slug: string]: {title: string}}} */
    const allItems = {}
    const requireContext = require.context(
      '../assets/content/checklists/',
      true,
      /\.md$/,
      'lazy'
    )
    const expresion = /([\w-]+)\.md$/
    await Promise.all(
      requireContext.keys().map(async (key) => {
        const [, slug] = key.match(expresion) || []
        const { title } = await requireContext(key)
        // const { title } = file.default || file
        allItems[slug] = { title }
      })
    )
    return { allItems }
  },
  data() {
    return {
      /** @type {{[slug: string]: import('types').Checklist}} */
      allItems: {},
    }
  },
}
</script>

<style lang="scss">
.page--checklist {
  min-height: 100vh;

  a:not(.btn) {
    color: $blue-400;
    text-decoration: underline;
  }

  code {
    padding-right: 0.25em;
    padding-left: 0.25em;
    line-height: 1;
    color: $red-300;
    background: $gray-700;
  }

  pre {
    padding: theme('spacings.1');
    margin-bottom: theme('spacings.2');
    color: $red-300;
    background: $gray-700;
  }

  li {
    /* stylelint-disable-next-line selector-max-type, selector-no-qualifying-type */
    > input[type='checkbox'] {
      display: inline-block;
      float: left;
      margin-top: 0.5em;
      margin-right: 0.5em;
    }

    &::after {
      display: block;
      clear: both;
      content: '';
    }

    /* stylelint-disable-next-line selector-max-type */
    p {
      margin-bottom: 0;
    }
  }
}
</style>
