<template>
  <main class="">
    <hero-generic title="Recibimos tus datos">
      <h2 class="subtitle h4">
        Gracias por escribirnos, a la brevedad nos pondremos en contacto.
      </h2>

      <div class="text-h6 text-center mt-12">
        <p>
          ¿Ya nos sigues en facebook?
        </p>
        <a
          href="http://facebook.com/dinamo.diseno/"
          target="_blank"
          rel="noopener noreferrer"
          class="btn text-h6 h-4 text-blue-700 border-0 p-0 m-1 rounded-full"
        >
          <fa-icon :icon="['fab', 'facebook']" />
        </a>
      </div>
    </hero-generic>
    <!--
          Aquí se sugiere tener un CTA que mantenga
          al usuario en comunicación con la marca
        -->
  </main>
</template>

<script>
import HeroGeneric from '~/components/HeroGeneric.vue'

export default {
  name: 'PageGracias',
  components: {
    HeroGeneric,
  },
  mounted() {
    // Aquí ejecuta las acciones de rastreo de leads
    // eslint-disable-next-line no-alert
    alert('Rastrea el lead con los datos de donde viene')
  },
  head: {
    title: 'Gracias',
    meta: [{ name: 'robots', content: 'noindex' }],
  },
}
</script>
