<template>
  <div class="page--index">
    <h1 class="text-center h1 font-bold font-title">Plantilla</h1>
    <demo-buttons />
    <demo-form />
    <demo-cards />
  </div>
</template>

<script>
import DemoButtons from '~/components/Demo/Buttons.vue'
import DemoForm from '~/components/Demo/DemoForm.vue'
import DemoCards from '~/components/Demo/DemoCards.vue'

export default {
  components: {
    DemoButtons,
    DemoForm,
    DemoCards,
  },
  head() {
    return {
      title: 'Plantilla de dinamo',
      script: [
        { src: 'https://identity.netlify.com/v1/netlify-identity-widget.js' },
      ],
    }
  },
}
</script>
